/*  your css code here. If applicable */
button{
	background-color:red;
	color:white;
	border:none;
	padding:5px;
	border-radius:4px;
	width:90px;

}

img{
	width:400px;
	height:300px;
	object-fit:cover;
}
.hero{
	display:flex;
	justify-content:flex-start;
}
.container-2{
	padding-top:50px;
	width:400px;
	height:300px;
	text-align:center;

}
